//http://paletton.com/#uid=53o0h1khVmd4pCYa+s6o-gFFN8Kklsr6bQFDhbvapDnuu4hxkuJsdjQzHp4v2wDmFFQgm

@import "./normalize";
@import "./main";

$dark: #01222B;
$mid: #154553;
$light: #9EB1B7;
$external-link: #44B48F;
$github-icon: white;
$twitter-icon: white;

body {
	background: $dark;
	color: $light;
	padding: 0;
}

header {
	background: $mid;
    padding-bottom: 20px;
	h1, section{
		max-width: 1000px;
		margin: 0 auto;
		color: #eee;
        display:block;
    }
    section {
        font-size: 1.5em;
        i { font-size:0.8em; color:#bbb}
    }
	h1{
		padding: .7em 1em;
		text-shadow: 1px 1px 1px $dark;
	}
}

section.intro {
    p {
        display: inline;
        width: 50%;
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.content-left {

}

.content-left, .content-right {
	padding: .7em 25px;
	min-height: 600px;
    float: left;
    max-width:450px;

    .intro {
        height: 100px;
        font-size:1.2em;
    }

	section.links {
		font-size: 2em;
		margin: .7em 1em;
        display:inline-block;
        min-width:40%;

		a {
			color: $external-link;
			text-decoration: none;
			&:hover {
				border-bottom: 1px dotted $external-link;
			}
		}
	}

	i {
		width:35px;
        text-align: center;

	}
	.github i {
		color: $github-icon;

	}

}
